.about {
    position: absolute;
    width: 100%;
    min-height: 100vh - $navHeight;
    top: 0;
    margin-top: $navHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    overflow: hidden;

    .wrapper {
        display: flex;
        flex-direction: column;
        padding: $pading;
        width: 100%;

        .about-me {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            padding: 20px 20px;
            background-color: $colorC-Transparent;
            animation: flip-in-bottom-left 2s ease-in-out forwards;

            .left {
                display: flex;
                flex: 2;
                flex-direction: column;

                .title {
                    font-size: $fluidFontSizeBig;
                    font-family: $fontBold;
                    text-align: start;
                    margin-bottom: 10px;
                    opacity: 0;
                    animation: focus-in-expand 2s ease-in-out 1s forwards;
                }

                .content {
                    font-size: $fluidFontSize;
                    opacity: 0;
                    animation: focus-in 1s ease-in-out 1.5s forwards;

                }
            }

            .right{
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;

                .img{
                    height: 100%;

                    img{
                        margin-left: auto;
                        margin-right: auto;
                        display: block;
                        width: 80%;
                    }
                }
            }
        }

        .skills{
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            padding: 20px 20px;
            background-color: $colorC-Transparent;
            animation: flip-in-bottom-right 2s ease-in-out 1s forwards;

            .left {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;

                .logos{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 10px;

                    .img{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 21%;
                        height: $fluidSizeLogo;
                        opacity: 0;
                        animation: focus-in 1s ease-in-out forwards;

                        img{
                            height: 80%;
                            object-fit: contain;
                        }
                    }
                }
            }

            .right{
                display: flex;
                flex: 1;
                flex-direction: column;

                .title {
                    font-size: $fluidFontSizeBig;
                    font-family: $fontBold;
                    text-align: end;
                    margin-bottom: 10px;
                    opacity: 0;
                    animation: focus-in-expand 2s ease-in-out 2s forwards;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    font-size: $fluidFontSize;
                    opacity: 0;
                    animation: focus-in 1s ease-in-out 2.5s forwards;

                    .text{
                        text-align: end;
                    }

                    .list{
                        font-weight: 600;
                        ul{
                            list-style-type: circle;
                            columns: 2;

                            li{
                                opacity: 0;
                                margin-right: 20px;
                                animation: focus-in 1s ease-in-out forwards;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes flip-in-bottom-left {
    0% {
        transform: rotateX(90deg);
        opacity: 0;
        border-left: solid 20px $colorB;
    }

    100% {
        transform: rotateX(0);
        opacity: 1;
        border-left: solid 5px $colorB;
    }
}

@keyframes flip-in-bottom-right {
    0% {
        transform: rotateX(90deg);
        opacity: 0;
        border-right: solid 20px $colorB;
    }

    100% {
        transform: rotateX(0);
        opacity: 1;
        border-right: solid 5px $colorB;
    }
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes move-logos {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    0% {
        transform: perspective(1000px) rotateY(360deg);
    }
}