@import './global';

.background{
    background-color: $colorC;
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -10;
    display: flex;
    justify-content: center;

    .points{
        position: relative;
        display: flex;

        span{
            position: relative;
            width: 5px;
            height: 5px;
            background-color: $colorD;
            box-shadow: 0 0 0 2px $colorE,
                        0 0 10px $colorD,
                        0 0 30px $colorD;
            margin: 0 15px;
            border-radius: 50%;
            animation: animateBackgroundPoints linear infinite;
        }
        
        span:nth-of-type(even){
            background-color: $colorA;
            box-shadow: 0 0 0 2px $colorD,
                        0 0 10px $colorA,
                        0 0 30px $colorA; 
        }
    }
}

@keyframes animateBackgroundPoints {
    0%
    {
        transform: translateY(110vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}