@import './global';

.home {
    position: absolute;
    width: 100%;
    min-height: 100vh - $navHeight;
    top: 0;
    margin-top: $navHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    overflow: hidden;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $pading;
        width: 100%;
    }

    .content {
        background-color: $colorC-Transparent;
        position: relative;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            @media (max-width:#{$sm}) {
                letter-spacing: 0.2rem;
            }

            margin: 2vh;
            width: 100%;
            letter-spacing: 0.6rem;
        }

        .p1 {
            font-size: $fluidFontSize;
            text-align: start;
            opacity: 0;
            animation: slide-in-right 1s linear 2.5s forwards;
        }

        .p2 {
            font-size: $fluidFontSizeBig;
            font-family: $fontBold;
            text-align: center;
            opacity: 0;
            animation: focus-in 1s linear 2s forwards;
        }

        .p3 {
            font-size: $fluidFontSize;
            text-align: end;
            opacity: 0;
            animation: slide-in-left 1s linear 2.5s forwards;
        }
    }

    .content:after {
        display: block;
        content: "";
        width: 100%;
        height: 10%;
        position: absolute;
        top: -5px;
        right: -5px;
        border-top: 3px solid $colorA;
        border-right: 3px solid $colorA;
        opacity: 0;
        animation: top-border 1.5s linear 1s forwards;
    }

    .content:before {
        display: block;
        content: "";
        width: 100%;
        height: 10%;
        position: absolute;
        bottom: -5px;
        left: -5px;
        border-bottom: 3px solid $colorA;
        border-left: 3px solid $colorA;
        opacity: 0;
        animation: bottom-border 1.5s linear 1s forwards;
    }
}

@keyframes top-border {
    0% {
        border-top: 3px solid $colorB;
        border-right: 3px solid $colorB;
        height: 0;
        width: 0;
        opacity: 0;
        transform: translateY(200px);
    }

    100% {
        opacity: 1;
        transform: translateY();
    }
}

@keyframes bottom-border {
    0% {
        border-bottom: 3px solid $colorB;
        border-left: 3px solid $colorB;
        height: 0;
        width: 0;
        opacity: 0;
        transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        transform: translateY();
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}