@import './global';

//UnderLine Hover Effects
@mixin hover {
    background-color: $colorD;
    color: $colorA;
    cursor: pointer;
}

@mixin after {
    content: '';
    background-color: $colorB;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    transition: all .5s ease-in-out;
}

@mixin hoverAfter {
    bottom: 0;
    height: 10%;
}

@mixin aTag {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0 5px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: $navHeight;
    min-height: 60px;
    color: $colorC;
    display: flex;
    align-items: center;
    z-index: 1;

    .wrapper {
        padding: $pading;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: $colorA;
        z-index: 2;

        a {
            @include aTag();
        }

        .nav-left {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .logo {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                position: relative;
                margin-left: 5px;
                padding: 0 15px;
                font-size: 2.5rem;
                transition: all 0.5s ease-in-out;

                .left {
                    font-family: $fontThin;
                    transform: rotateY(180deg) translateX(-3px);
                    transition: transform 0.5s ease-in-out;
                }

                .right {
                    font-family: $fontBold;
                    transform: translateX(3px);
                    transition: transform 0.5s ease-in-out;
                }
            }

            .logo:hover,
            .logo.active {
                @include hover();

                .left {
                    transform: rotateY(180deg) translateX(-29px);
                }

                .right {
                    transform: translateX(-26px);
                }
            }

            .logo::after {
                @include after();
            }

            .logo:hover::after,
            .logo.active::after {
                @include hoverAfter();
            }
        }

        .nav-right {
            @media (max-width:#{$md}) {
                display: none;
            }

            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            .nav-item {
                height: 100%;
                padding: 0 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                transition: all 0.5s ease-in-out;
                letter-spacing: 0.2rem;
                font-size: 1rem;
            }

            .nav-item:hover,
            .nav-item.active {
                @include hover();
            }

            .nav-item::after {
                @include after();
            }

            .nav-item:hover::after,
            .nav-item.active::after {
                @include hoverAfter();
            }
        }

        .nav-hamburger {
            @media (max-width:#{$md}) {
                display: flex;
            }

            display: none;
            flex-direction: column;
            justify-content: center;
            padding: 0 15px;
            height: 100%;
            transition: all 0.5s ease-in-out;

            .line {
                width: 40px;
                height: 5px;
                background-color: $colorC;
                display: block;
                margin: 4px auto;
                transition: all 0.3s ease-in-out;
            }
        }

        .nav-hamburger:hover {
            cursor: pointer;
        }

        .nav-hamburger.is-active {
            background-color: $colorD;
        }

        #hamburger.is-active .line:nth-child(2) {
            opacity: 0;
        }

        #hamburger.is-active .line:nth-child(1) {
            transform: translateY(13px) rotate(45deg);
            background-color: $colorA;
        }

        #hamburger.is-active .line:nth-child(3) {
            transform: translateY(-13px) rotate(-45deg);
            background-color: $colorA;
        }
    }

    .dropdown-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        top: 10vh;
        left: 0;
        width: 100vw;
        height: 90vh;
        background-color: $colorA;
        transform: translateY(-100vh);
        transition: all 0.5s ease-in-out;
        z-index: 1;
        transition-delay: 0.6s;
        border-top: 3px solid $colorD;

        a {
            @include aTag();
        }

        .nav-item {
            height: 100%;
            padding: 0 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: all 0.5s ease-in-out;
            letter-spacing: 0.2rem;
            font-size: 1.5rem;
        }

        .nav-item:hover,
        .nav-item.active {
            @include hover();
        }

        .nav-item::after {
            @include after();
        }

        .nav-item:hover::after,
        .nav-item.active::after {
            @include hoverAfter();
        }
    }

    .dropdown-menu.is-active {
        transition-delay: 0.2s;
        transform: translateY(0vh);
    }
}