@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"), url(../fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: local("Montserrat-Thin"), url(../fonts/Montserrat-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Rosemary";
  src: local("Rosemary"), url(../fonts/Rosemary.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"), url(../fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: local("Montserrat-Thin"), url(../fonts/Montserrat-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Rosemary";
  src: local("Rosemary"), url(../fonts/Rosemary.ttf) format("truetype");
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  min-height: 60px;
  color: #CEFAFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.navbar .wrapper {
  padding: 0 clamp(20px, 7vw, 200px);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3A4042;
  z-index: 2;
}

.navbar .wrapper a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0 5px;
}

.navbar .wrapper .nav-left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .wrapper .nav-left .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-left: 5px;
  padding: 0 15px;
  font-size: 2.5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .wrapper .nav-left .logo .left {
  font-family: "Montserrat-Thin";
  -webkit-transform: rotateY(180deg) translateX(-3px);
          transform: rotateY(180deg) translateX(-3px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.navbar .wrapper .nav-left .logo .right {
  font-family: "Montserrat-Bold";
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.navbar .wrapper .nav-left .logo:hover {
  background-color: #6095A8;
  color: #3A4042;
  cursor: pointer;
}

.navbar .wrapper .nav-left .logo:hover .left {
  -webkit-transform: rotateY(180deg) translateX(-29px);
          transform: rotateY(180deg) translateX(-29px);
}

.navbar .wrapper .nav-left .logo:hover .right {
  -webkit-transform: translateX(-26px);
          transform: translateX(-26px);
}

.navbar .wrapper .nav-left .logo::after {
  content: '';
  background-color: #67E2FF;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navbar .wrapper .nav-left .logo:hover::after {
  bottom: 0;
  height: 10%;
}

.navbar .wrapper .nav-right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  .navbar .wrapper .nav-right {
    display: none;
  }
}

.navbar .wrapper .nav-right .nav-item {
  height: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.2rem;
  font-size: 1rem;
}

.navbar .wrapper .nav-right .nav-item:hover {
  background-color: #6095A8;
  color: #3A4042;
  cursor: pointer;
}

.navbar .wrapper .nav-right .nav-item::after {
  content: '';
  background-color: #67E2FF;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navbar .wrapper .nav-right .nav-item:hover::after {
  bottom: 0;
  height: 10%;
}

.navbar .wrapper .nav-hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .navbar .wrapper .nav-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar .wrapper .nav-hamburger .line {
  width: 40px;
  height: 5px;
  background-color: #CEFAFF;
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar .wrapper .nav-hamburger:hover {
  cursor: pointer;
}

.navbar .wrapper .nav-hamburger.is-active {
  background-color: #6095A8;
}

.navbar .wrapper #hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

.navbar .wrapper #hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
          transform: translateY(13px) rotate(45deg);
  background-color: #3A4042;
}

.navbar .wrapper #hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
          transform: translateY(-13px) rotate(-45deg);
  background-color: #3A4042;
}

.navbar .dropdown-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 90vh;
  background-color: #3A4042;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  border-top: 3px solid #6095A8;
}

.navbar .dropdown-menu a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0 5px;
}

.navbar .dropdown-menu .nav-item {
  height: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}

.navbar .dropdown-menu .nav-item:hover {
  background-color: #6095A8;
  color: #3A4042;
  cursor: pointer;
}

.navbar .dropdown-menu .nav-item::after {
  content: '';
  background-color: #67E2FF;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navbar .dropdown-menu .nav-item:hover::after {
  bottom: 0;
  height: 10%;
}

.navbar .dropdown-menu.is-active {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"), url(../fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: local("Montserrat-Thin"), url(../fonts/Montserrat-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Rosemary";
  src: local("Rosemary"), url(../fonts/Rosemary.ttf) format("truetype");
}

.background {
  background-color: #CEFAFF;
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background .points {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.background .points span {
  position: relative;
  width: 5px;
  height: 5px;
  background-color: #6095A8;
  -webkit-box-shadow: 0 0 0 2px #92D3E6, 0 0 10px #6095A8, 0 0 30px #6095A8;
          box-shadow: 0 0 0 2px #92D3E6, 0 0 10px #6095A8, 0 0 30px #6095A8;
  margin: 0 15px;
  border-radius: 50%;
  -webkit-animation: animateBackgroundPoints linear infinite;
          animation: animateBackgroundPoints linear infinite;
}

.background .points span:nth-of-type(even) {
  background-color: #3A4042;
  -webkit-box-shadow: 0 0 0 2px #6095A8, 0 0 10px #3A4042, 0 0 30px #3A4042;
          box-shadow: 0 0 0 2px #6095A8, 0 0 10px #3A4042, 0 0 30px #3A4042;
}

@-webkit-keyframes animateBackgroundPoints {
  0% {
    -webkit-transform: translateY(110vh) scale(0);
            transform: translateY(110vh) scale(0);
  }
  100% {
    -webkit-transform: translateY(-10vh) scale(1);
            transform: translateY(-10vh) scale(1);
  }
}

@keyframes animateBackgroundPoints {
  0% {
    -webkit-transform: translateY(110vh) scale(0);
            transform: translateY(110vh) scale(0);
  }
  100% {
    -webkit-transform: translateY(-10vh) scale(1);
            transform: translateY(-10vh) scale(1);
  }
}

@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"), url(../fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: local("Montserrat-Thin"), url(../fonts/Montserrat-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Rosemary";
  src: local("Rosemary"), url(../fonts/Rosemary.ttf) format("truetype");
}

.container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3A4042;
  z-index: 2;
  -webkit-animation: fade-out-of-screen 1s ease-out 4s forwards;
          animation: fade-out-of-screen 1s ease-out 4s forwards;
}

.container .logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: #CEFAFF;
  letter-spacing: 0.5rem;
  -webkit-animation: fade-in 2s linear forwards;
          animation: fade-in 2s linear forwards;
}

.container .logo .left {
  height: 100%;
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  -webkit-animation: logo-left 2s linear 1s forwards;
          animation: logo-left 2s linear 1s forwards;
}

.container .logo .left span {
  display: inline-block;
}

.container .logo .left span:nth-of-type(1) {
  font-size: 4rem;
  text-shadow: 0 0 20px #CEFAFF, 0 0 30px #CEFAFF, 0 0 40px #CEFAFF;
}

.container .logo .left span:nth-of-type(2), .container .logo .left span:nth-of-type(3), .container .logo .left span:nth-of-type(4), .container .logo .left span:nth-of-type(5) {
  -webkit-animation: fade-out 1s ease-out 1.8s forwards;
          animation: fade-out 1s ease-out 1.8s forwards;
}

.container .logo .right {
  height: 100%;
  font-family: "Montserrat-Thin";
  font-size: 3rem;
  -webkit-animation: logo-right 2s linear 1s forwards;
          animation: logo-right 2s linear 1s forwards;
}

.container .logo .right span:nth-of-type(1) {
  font-size: 4rem;
  text-shadow: 0 0 20px #CEFAFF, 0 0 30px #CEFAFF, 0 0 40px #CEFAFF;
}

.container .logo .right span:nth-of-type(2), .container .logo .right span:nth-of-type(3), .container .logo .right span:nth-of-type(4), .container .logo .right span:nth-of-type(5) {
  -webkit-animation: fade-out 1s ease-out 1.8s forwards;
          animation: fade-out 1s ease-out 1.8s forwards;
}

.container .loader {
  margin-top: 20vh;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #3A4042;
  -webkit-animation: spin 3s linear infinite, fade-out 2s ease-out 2s forwards;
          animation: spin 3s linear infinite, fade-out 2s ease-out 2s forwards;
}

.container .loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#92D3E6));
  background: linear-gradient(to top, transparent, #92D3E6);
  background-size: 50px 90px;
  background-repeat: no-repeat;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.container .loader::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #CEFAFF;
  -webkit-box-shadow: 0 0 10px #CEFAFF, 0 0 20px #CEFAFF, 0 0 30px #CEFAFF, 0 0 40px #CEFAFF, 0 0 50px #CEFAFF;
          box-shadow: 0 0 10px #CEFAFF, 0 0 20px #CEFAFF, 0 0 30px #CEFAFF, 0 0 40px #CEFAFF, 0 0 50px #CEFAFF;
}

.container .loader span {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  background-color: #3A4042;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade-out-of-screen {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    top: -100%;
    opacity: 0;
    display: none;
  }
}

@keyframes fade-out-of-screen {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    top: -100%;
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes logo-right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0) translateX(0) rotateY(180deg);
            transform: translateY(0) translateX(0) rotateY(180deg);
  }
  100% {
    -webkit-transform: translateY(-100%) translateX(-50%) rotateY(180deg);
            transform: translateY(-100%) translateX(-50%) rotateY(180deg);
  }
}

@keyframes logo-right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0) translateX(0) rotateY(180deg);
            transform: translateY(0) translateX(0) rotateY(180deg);
  }
  100% {
    -webkit-transform: translateY(-100%) translateX(-50%) rotateY(180deg);
            transform: translateY(-100%) translateX(-50%) rotateY(180deg);
  }
}

@-webkit-keyframes logo-left {
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@keyframes logo-left {
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"), url(../fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: local("Montserrat-Thin"), url(../fonts/Montserrat-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Rosemary";
  src: local("Rosemary"), url(../fonts/Rosemary.ttf) format("truetype");
}

.home {
  position: absolute;
  width: 100%;
  min-height: 90vh;
  top: 0;
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
}

.home .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 clamp(20px, 7vw, 200px);
  width: 100%;
}

.home .content {
  background-color: rgba(206, 250, 255, 0.5);
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .content p {
  margin: 2vh;
  width: 100%;
  letter-spacing: 0.6rem;
}

@media (max-width: 576px) {
  .home .content p {
    letter-spacing: 0.2rem;
  }
}

.home .content .p1 {
  font-size: calc(15px + 0.390625vw);
  text-align: start;
}

.home .content .p2 {
  font-size: calc((15px + 0.390625vw) * 3);
  font-family: "Montserrat-Bold";
  text-align: center;
}

.home .content .p3 {
  font-size: calc(15px + 0.390625vw);
  text-align: end;
}

.home .content:after {
  display: block;
  content: "";
  width: 100%;
  height: 10%;
  position: absolute;
  top: -5px;
  right: -5px;
  border-top: 3px solid #3A4042;
  border-right: 3px solid #3A4042;
}

.home .content:before {
  display: block;
  content: "";
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: -5px;
  left: -5px;
  border-bottom: 3px solid #3A4042;
  border-left: 3px solid #3A4042;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #3A4042;
  font-family: "Montserrat-Light";
}
/*# sourceMappingURL=index.css.map */